{% extends "adm/base.html" %}
{% load static %}

{% block body %}

  <article class="main clean">
    <h2 class="green">Painel administrativo!</h2>
    <h5>No lado esquerdo você pode ver a lista de alunos quais você é responsável</h5>
    <p>Os que aparecem em laranjado ainda precisam de sua confirmação para se tornarem ativos no sistema</p>
    <br>
    <h5>No lado direito você pode ver a lista de opções administrativas</h5>
    <p>Através desse menú você pode habilitar as lições que você quer que seus alunos façam. Também pode solicitar mais
contas para que mais alunos usem o sistema.</p>
    <br>
    <h5>Se você estiver com alguma conta de diretor você pode também pode cadastrar educadores</h5>
  </article>
  

{% endblock %} 
