{% extends "base.html" %}
{% load static %}

{% block body %}
<aside class="side clean-detail" id="leftSide">
    <a class="btn completed" href="{% url 'livro1:userInfo' request.user.profile.id %}"><i class="fas fa-user-astronaut"></i>&ensp;Perfil</a>
  	<h4>As lições voltarão a aparecer ao terminar de editar o seu perfil de usuário</h4>
</aside>
<article class="main clean">
  <form action="#" method="post">
	<article class="item sunny">
	  {% csrf_token %}
	  <div class="box">
	  	{% if form.errors %}
			{{form.non_field_errors}}
		{% endif %}
			<h4>Preencha os campos corretamente para alterar a senha</h4>
	  	
	  </div>
	</article>&emsp;
		<article class="item happy">
		  <div class="box large">
			<label for="fpassword">Nova Senha:</label><br>
			<input type="password" id="fpassword" name="password" value="{{ form.password.value|default_if_none:"" }}" placeholder="Digite a nova Senha">
		  </div>
		</article>
		<article class="item happy">
		  <div class="box large">
			<label for="fpassword_confirm">Confirmação da Nova Senha:</label><br>
			<input type="password" id="fpassword_confirm" name="password_confirm" value="{{ form.password_confirm.value|default_if_none:"" }}" placeholder="Digite a nova senha novamente">
		  </div>
		</article>
		<article class="item happy">
		  <div class="box large">
			<label for="fpassword_old">Sua Senha Atual:</label><br>
			<input type="password" id="fpassword_old" name="password_old" value="{{ form.password_old.value|default_if_none:"" }}" placeholder="Digite sua senha atual">
		  </div>
		</article>
	<input type="submit" value="Salvar usuário">
  </form>
</article>

{% endblock %} 
