
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="{% static '/css/modal.css' %}" />
	    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'landing/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'landing/css/noscript.css' %}"/></noscript>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Projeto Atitudes</title>
		<link rel="Atitudes icon" href="{%  static '/img/icoEthos.ico' %}">
		<script type="text/javascript" src="{%  static '/js/functions.js' %}"></script>
		
		<meta name="description" content="O projeto atitudes é um livro gamificado, que tem como objetivo ensinar boas maneiras para as novas gerações">
		<meta name="author" content="Cirene Vanzela Miotto">
		<meta name="keywords" content="Gamificação, Projeto Atitudes, Educação, Livro, Ética, Boas Maneiras, Etiqueta"/>

		<link rel="alternate" href="https://projetoatitudes.com/" hreflang="pt-br" />
		<meta name="robots" content="index, follow"> 

		<meta property="og:url"             content="https://projetoatitudes.com/" /> 
		<meta property="og:title"           content="Projeto Atitudes" /> 
		<meta property="og:image"           content="https://projetoatitudes.com/atitudes/livro1/static/img/icoEthos.png" /> 
		<meta property="og:description"     content="O projeto atitudes é um livro gamificado, que tem como objetivo ensinar boas maneiras para as novas gerações" />
		<meta name="theme-color" content="#4775d1">
		<meta property="business:contact_data:country_name" content="Brasil" />
		<meta property="business:contact_data:website" content="https://projetoatitudes.com/" />
		<meta property="business:contact_data:region" content="PR" />
		<meta property="business:contact_data:email" content="contato@projetoatitudes.com" />
		<meta property="business:contact_data:phone_number" content="+5546999224114" />
		<meta name="twitter:card" content="Sumario" />
		<meta name="twitter:description" content="O projeto atitudes é um livro gamificado, que tem como objetivo ensinar boas maneiras para as novas gerações"/>
		<meta name="twitter:title" content="Projeto Atitudes" />
		<meta name="twitter:image" content="https://projetoatitudes.com/atitudes/livro1/static/img/icoEthos.png" />
		<meta name="geo.placename" content="Paraná" />
		<meta name="geo.region" content="BR" />
		<link rel="canonical" href="https://projetoatitudes.com/" />

		<meta property="og:type"            content="website" />
		<meta property="og:locale"          content="pt_BR" />
		<meta name="format-detection" content="telephone=no">
		<script src="https://thunkable.github.io/webviewer-extension/thunkableWebviewerExtension.js" type="text/javascript"></script>
		
	</head>
	<body class="is-preload landing" onload="javascript:thunkableMessage('index')" style="font-family: 'Amaranth', sans-serif;">
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header" style="background: rgba(0, 0, 0, 0.12);">
					<h1 id="logo"><a href="{% url 'livro1:index' %}">Projeto Atitudes</a></h1>
					<nav id="nav">
						<ul>
							<li>
								<a>Mais</a>
								<ul>
									<li><a href="{% url 'livro1:index' %}">Início</a></li>
									<li><a href="{% url 'livro1:about' %}">Biblioteca</a></li>
									<li><a href="{% url 'livro1:informations' %}">Nossa História</a></li>
								</ul>
							</li>
							<li><a href="{% url 'livro1:home' %}">Acessar</a></li>
							<li><a href="#five" class="button primary">Participar</a></li>
						</ul>
					</nav>
				</header>

			
		  {% block body %}
		  {% endblock %}

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2 style="color:white">Você gostou do material?</h2>
							<p style="color:white"> Nós estamos preparando uma plataforma <b>incrível</b> para dar a melhor experiência para você!<br>
							    Siga nossa página no instagram e no facecbook para não perder nossas novidades!</p>
    						<a class="button" href="https://www.facebook.com/livroatitudes/" target="_blank"><span class="label"><i class="fab fa-facebook-square"></i> Curtir</span></a>
    						<a class="button" href="https://www.instagram.com/accounts/login/?next=%2Fprojetoatitudes%2F&source=follow" target="_blank"><span class="label"><i class="fab fa-instagram"></i> Seguir </span></a>
    						
							<!--
							<p style="color:white">Faça sua conta gratuitamente e tenha acesso à lição de tutorial e à <b>Boas maneiras em família</b>. Depois, se você gostar, pode adquirir sua conta premium fácilmente!</p>
							<a href="{% url 'livro1:newUser' 0 %}" class="button" style="text-shadow:0px 0px 10px #3399ff; background-color:#81c9df; min-width: 250px;">QUERO AGORA<a>
https://www.facebook.com/plugins/error/confirm/like?iframe_referer=&kid_directed_site=false&secure=true&plugin=like&return_params=%7B%22href%22%3A%22https%3A%2F%2Fwww.facebook.com%2Flivroatitudes%2F%3Fref%3Dpy_c%22%2C%22ret%22%3A%22sentry%22%2C%22act%22%3A%22like%22%7D	
							<!-- 
							<p>
							  	{% if form.errors %}
									{{form.non_field_errors}}
								{% endif %}
							</p> -->
						</header>
						<!-- 
						<form method="post" action="#" class="cta">
							{% csrf_token %}
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall">
									<input type="text" name="name" id="name" placeholder="Nome" />
									<input type="email" name="email" id="email" placeholder="E-mail" />
									<input type="number" name="phone" id="phone" placeholder="Telefone" />
									<script src='https://www.google.com/recaptcha/api.js'></script>
									<div class="g-recaptcha" data-sitekey="6LePN_4ZAAAAAFU9jqefgkZTpbBhaz57K1_xxcOm"></div>
								</div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Quero participar" class="fit primary" /></div>
							</div>
						</form> -->
					</div>
						<!-- 
				  	{% if form.errors %}
						<script>location.href = "#five"</script>
					{% endif %} -->
				</section>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
					    <li><a class="menu-link"  href="{% url 'livro1:privacy' %}" ><i class="fas fa-book"></i>Política de privacidade</a></li>
					    <li><a class="menu-link"  href="{% url 'livro1:suport' %}" ><i class="fas fa-book"></i>Suporte</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Projeto Atitudes. Todos os direitos reservados.</li>
						<li>Template base: <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">HTML5 UP</a> - Editado.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'landing/js/jquery.min.js' %}"></script>
			<script src="{% static 'landing/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'landing/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'landing/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'landing/js/browser.min.js' %}"></script>
			<script src="{% static 'landing/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'landing/js/util.js' %}"></script>
			<script src="{% static 'landing/js/main.js' %}"></script>

		<script>
			var prevScrollpos = window.pageYOffset;
			window.onscroll = function() {
			var currentScrollPos = window.pageYOffset;
			  if (prevScrollpos >= currentScrollPos) {
				document.getElementById("header").style.top = "0";
			  } else {
				document.getElementById("header").style.top = "-65px";
			  }
			  prevScrollpos = currentScrollPos;
			}
		</script>


	</body>
</html>
