{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Atitudes - privacidade</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'js/functions.js' %}"></script>
	<link rel="Atitudes icon" href="{%  static '/img/atitude.ico' %}">
</head>
<body class="base">

<!-- Header -->
<header>
  <img src={% static '/img/title1.png' %} alt="Atitudes">
  <!-- Navigation Bar -->
  <nav class="navbar base-detail">
  	
    <a class="menu-link" href="{% url 'livro1:index' %}"><i class="fas fa-backspace"></i>Voltar</a>
    
  </nav>
</header>

<!-- The flexible grid (content) -->
<main class="back-img">

    <article class="main clean" style="max-width:">
        <h2 class="green">Política de privacidade e divulgação de informações</h2>
		<p>

			<strong>Em conexão com os Termos de Uso do Projeto Atitudes disponíveis aqui, a presente Política de Privacidade tem como objetivo:</strong><br><br>
1. Garantir que o Usuário compreende quais os dados pessoais que recolhemos sobre o mesmo, as razões pelas quais os recolhemos, utilizamos e com quem os partilhamos;<br>
2. Explicar ao Usuário os respectivos direitos e opções em relação aos seus dados pessoais que a Plataforma recolhe e trata e de que forma seus dados estarão protegidos.
			<br><br><br><br><strong>I. QUAIS SÃO AS INFORMAÇÕES QUE O PROJETO ATITUDES TEM SOBRE MIM?</strong><br><br>
1.1. Abaixo expomos quais dados do Usuário coletamos e os motivos.
Esclarecemos que o Projeto Atitudes trata seus dados de maneira lícita, respaldada em permissões legais, ora na execução dos Serviços contratados, ora mediante obtenção do seu consentimento, para o exercício regular de direitos do Projeto Atitudes (como na apresentação de defesa ou demanda judicial ou regulatória).<br>
i. Dados de Cadastro: coleta de informações para criação e alteração de cadastro. Isso pode incluir para <br>
(a) Usuário Escola: Nome da escola, CNPJ, endereço, e-mail e senha de login.<br>
a.1) Usuário representante da Escola (professor e aluno): Nome da Escola, ID do professor, nome do aluno, ano e turma escolar do aluno, e-mail e senha de login.<br>
(b) Usuário pessoa física: nome do pai ou responsável, nome do filho, data de nascimento do filho, ano escolar do filho, e-mail e senha de login.<br>
b.1) Nome utilizado para identificar o usuário e customizar a experiência dentro do aplicativo.<br>
b.2) Escolha de Avatar utilizado para customizar a experiência. Avatar é escolhido de uma lista pré-estabelecida (não é feito upload de imagem).<br>
b.3) Respostas as perguntas dos usuários utilizado para conseguir avaliar a criança. Os dados que são coletados são: Resposta selecionada, Resposta correta ou errada, Horário de início e fim de avaliação.<br>
ii. Dados de Transação: Para possibilitar e comprovar a contratação de nossos Serviços, coletamos informações de transações relacionadas ao uso que o Usuário faz dos serviços, incluindo o tipo de serviço solicitado, seus pedidos, data e horário em que o serviço foi executado e valor cobrado.<br>
iii. Conteúdo de Usuário: Para atender ao chamado do Usuário relativo à dúvidas técnicas do uso da Plataforma coletamos informações que Você envia ao entrar em contato com o suporte do Projeto Atitudes. <br>
iv. Informações do aparelho: Para melhorar a experiência do Usuário e a performance da Plataforma de acordo com o hardware e software que está sendo utilizado pelo Usuário para acessar a Plataforma, coletamos informações sobre o aparelho que o Usuário usa para acessar nossos Serviços, inclusive mas não se limitando ao modelo de hardware, endereço IP do aparelho, sistemas operacionais e versões, software.<br>
v. Dados demográficos: Para melhorar a experiência do Usuário e a performance do Plataforma, o Projeto Atitudes poderá coletar informações demográficas, inclusive por meio de pesquisas com usuários.<br>
vi. Informações de localização: Para melhorar a experiência do Usuário e a performance da Plataforma e dependendo das configurações ou permissões do smartphone, o Projeto Atitudes poderá coletar a localização exata ou aproximada determinadas por dados como GPS, endereço do IP e Wi-Fi.<br>
vii. Informações de uso: Para melhorar a experiência do Usuário e a performance da Plataforma, o Projeto Atitudes poderá coletar informações sobre como o Usuário interage com nossos serviços. Entre essas informações, estão, por exemplo, data e horário de acesso, recursos do aplicativo ou páginas visitadas, falhas do aplicativo e outras atividades do sistema, tipo de navegador e sites de terceiros que você estava usando antes de interagir com nossos serviços. Em alguns casos, fazemos isso pelo uso de cookies, tags de pixels e tecnologias similares que criam e mantêm identificadores únicos.<br>
		<br><br><br><br><strong>II. MEUS DADOS SÃO COMPARTILHADOS COM TERCEIROS?</strong><br><br>
Usuário, caso Você queira mais informações sobre o compartilhamento de suas informações para terceiros, pedimos que envie solicitação para o e-mail suporte@projetoatitudes.com. <br>
Usuário, o Projeto Atitudes tem o compromisso de transparência, assim, informamos abaixo com quais terceiros poderemos compartilhar os seus dados.

<br>Cumprimento da lei e autoridades de proteção de dados
<br>Partilharemos os dados do Usuário quando acreditarmos, de boa-fé, que tal é necessário para o cumprimento de uma obrigação legal nos termos da legislação aplicável, ou para responder a um processo legal válido, como, por exemplo, um mandado de busca, uma ordem judicial ou uma intimação.
<br>Também partilharemos os dados do Usuário se acreditarmos, de boa-fé, ser necessário para o nosso interesse legítimo, ou o de terceiros, em matéria de segurança nacional, cumprimento da lei, contencioso, investigação criminal, proteção da segurança de qualquer pessoa, ou para impedir a morte ou danos físicos iminentes, desde que consideremos que tal interesse não prevalece sobre os interesses ou direitos e liberdades fundamentais do Usuário que exijam a proteção dos dados pessoais do Usuário.

<br>Proteção da vida ou da incolumidade física do titular do dado ou de terceiro
<br>Também partilharemos os dados do Usuário se acreditarmos, de boa-fé, ser necessário para a proteção da vida ou da incolumidade física do Usuário ou de terceiro.

<br>Prestadores de serviços e outros
<br>Utilizamos prestadores de serviços técnicos que operam a infraestrutura técnica de que necessitamos para fornecer nosso Serviço, em particular fornecedores que alojam, guardam, gerem e mantêm a aplicação do Projeto Atitudes, o seu conteúdo e os dados que processamos.
		<br><br><br><br><strong>III. COMO ATUALIZO E EXCLUO AS MINHAS INFORMAÇÕES DO PROJETO ATITUDES?</strong><br><br>
4.1. Durante o período em que Você mantiver sua conta ativa, Você poderá solicitar que o Projeto Atitudes permita o acesso aos seus dados e possibilite a correção de dados incompletos, inexatos ou desatualizados.
<br>4.2. Se Você acredita que o Projeto Atitudes detém alguma informação inexata sua, Você tem o direito de solicitar a correção dessa informação. A atualização dos dados cadastrais poderá ser feita mediante envio do pedido para o e-mail suporte@projetoatitudes.com, cuja solicitação será atendida em até 30 (trinta) dias úteis.
<br>4.3. Usuário, Você poderá, a qualquer momento, excluir sua conta na Plataforma. Nessa hipótese, o Projeto Atitudes excluirá os dados pessoais que possui sobre os Usuários pessoas físicas ou jurídicas.
<br>4.3.1. O Projeto Atitudes, após a exclusão da conta do Usuário, poderá manter as informações e/ou dados cuja manutenção seja necessária para (i) cumprimento de ordem judicial, no âmbito de processos judiciais e/ou administrativos, (ii) estudo por órgão de pesquisa, nos termos da legislação aplicável, (iii) transferência a terceiro, desde que respeitados os requisitos de tratamento da legislação aplicável, e (iv) uso exclusivo do Projeto Atitudes, desde que os dados sejam anonimizados.
<br>4.3.2. Na hipótese do item acima, o Projeto Atitudes garante que os terceiros com quem eventualmente tenha compartilhado os dados do Usuário adotará a mesma medida de exclusão e não tratamento dos dados do Usuário, observadas as legislações aplicáveis.
		<br><br><br><br><strong>V. DISPOSIÇÕES FINAIS</strong><br><br>
5.1. Estamos empenhados em proteger os dados pessoais dos nossos Usuários. Implementamos medidas técnicas e organizacionais para ajudar a proteger a segurança dos dados pessoais do Usuário. Contudo, tenha em atenção que nenhum sistema está alguma vez completamente seguro.
<br>5.2. Os responsáveis pelo tratamento de dados são:
<br>5.2.1. O controlador, encarregado e operador será o Projeto Atitudes, através do e-mail: suporte@projetoatitudes.com.
<br>5.3. O Projeto Atitudes poderá, a seu exclusivo critério, alterar seus Termos de Uso e sua Política de Privacidade. Você será sempre informado sobre atualizações feitas, sendo que alterações significativas serão objeto de aviso por meio de notas divulgadas na Plataforma.
<br>5.4. A tolerância do eventual descumprimento de quaisquer das cláusulas e condições do presente Termos de Uso e Política de Privacidade não constituirá novação das obrigações aqui estipuladas e tampouco impedirá ou inibirá a exigibilidade das mesmas a qualquer tempo pelo Projeto Atitudes. 
		<br><br><br><br><strong>VI. LEI VIGENTE / JURISDIÇÃO</strong><br><br>
<br>6.1. Os Termos de Uso e Política de Privacidade do Projeto Atitudes (e quaisquer disputas/reivindicações não contratuais surgidas em virtude de, ou em relação a eles) estão sujeitos a aplicação das leis da República Federativa do Brasil, independentemente do país de onde for acessado este site.
<br>6.2. Quaisquer disputas ou controvérsias judiciais oriundas de atos praticados no âmbito deste Site pelos Usuários, inclusive com relação ao descumprimento do Termos de Uso e Política de Privacidade ou violação de direitos de terceiros serão processadas na Comarca de Pato Branco, Estado do Paraná.

<br><br>Data de Publicação: 04/02/2021.
		</p>
    </article>
</main>

<!-- Footer -->
<footer class="base-detail">
    <a class="menu-link" href="{% url 'livro1:privacy' %}" ><i class="fas fa-book"></i>Política de privacidade</a>
    <a class="menu-link" href="{% url 'livro1:suport' %}" ><i class="fas fa-book"></i>Suporte</a>
</footer>


</body>
</html>

