{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- Modal -->
<div id="discoveryModal" class="modal">
  <div class="modal-container">
  	<nav class="box clean modal-container">
	  	<nav class="element box base"><h1 class="green">Você fez uma descoberta!</h1></nav>
	  	<div class="modal-animation gradiant-loop">
		  	<img src={% static '/img/discovery.gif' %} alt="Parabéns" width="100%">
		  	<div class="caption">
			  	<strong class="orange item" style="background-color:rgba(0, 0, 0, 0.5);">{{ itens.0.sort }}</strong>
			  	<p><i>{{ itens.0.name }}:</i> {{ itens.0.text }}</p>
		  	</div>
	  	</div>
	  	<nav class="element box base">
	  		<div class="modal-backgif"><p></p>
	  			<em class="green"> Você ganhou: 30 pontos, 30 créditos e uma medalha</em><br>
	  			<a class="orange"> Clique na medalha para pegar o que você ganhou</a>
	  		</div>
	  		<a href="{% url 'livro1:discoveryFound' itens.0.id 'familia' 2 %}" ><img src={% static '/img/star.gif' %} alt="Star medal" height="120px"></a>
	  	</nav>
	</nav>
  </div>
</div>

<div id="questModal" class="modal">
  <div class="modal-container">
  	<nav class="box clean modal-container">
	  	<nav class="element box base"><button class="button previous" onclick="location.reload(true);"><span>Tentar novamente</span></button></nav>
	  	<div class="modal-animation gradiant-loop">
		  	<img src={% static '/img/congratulations.gif' %} alt="Parabéns" width="100%">
		  	<img src={% static '/img/joia.gif' %} alt="Troféu Joinha" height="120px" class="sticker">
		  	<div class="caption">
			  	<strong class="orange item" style="background-color:rgba(0, 0, 0, 0.5);">Missão cumprida!</strong>
			  	<p id="questCaption">Parabéns</p>
		  	</div>
	  	</div>
	  	<nav class="element box base">
	  		<div class="modal-backgif"><p></p>
	  			<em class="green" id="reward"> Você ganhou: X pontos, X créditos e um troféu joinha</em><br>
	  		</div>
	  		<form action="#" method="post" class="element box">
	  			{% csrf_token %}
				<input type="hidden" name="text" id="text" value="10">
				<input type="submit" value="Resgatar meu prêmio">
		  	</form>
	  	</nav>
	</nav>
  </div>
</div>
<!-- /Modal -->


  <aside class="side clean-detail" id="leftSide">
    <a href="{% url 'livro1:home' %}" class="btn completed">
        Home &ensp;<i class="fas fa-home"></i></a>
    <p class="box base">
		<h4>É hora de interagir!</h4>
		<h5>Fale com as pessoas próximas a você para terminar esta atividade :D</h5>
	  	<img class="sticker-left" src={% static '/img/2/meninoFala.png' %} alt="Menino Fala" width="300px">
	</p>
  </aside>
  
  <section class="page box clean">

    <article class="page" style="height:100%">
        <a href="{% url 'livro1:lesson' 'familia' 1 %}" class="large">
	    	<button class="button previous"><span>Voltar</span></button>
	    </a>
	    <nav class="box shine">
			<div class="box"> <h3 class="red">Atividade</h3>
				<h4>Cada membro da família precisa conhecer o outro, sua personalidade, seus
					gostos, sua rotina. Vamos fazer um teste para conhecer melhor nossa família?
					Converse com seus familiares e preencha o quadro a seguir com os nomes e as
					preferências de cada um.
				</h4>
			</div>
		</nav>
		<div class="line"></div>
	    {% if itens.4 != False %}
			<nav class="box base">
				<img class="sticker-left" src={% static '/img/1/atividades.gif' %} alt="Mãos à obra" width="150px">
				<h5>
					Você já completou esse desafio e conquistou a sua recompensa <br>
					{% if itens.4.score < 50 %} 
						Você marcou <strong>{{itens.4.score}}</strong> pontos e a pontuação máxima é 50. Você pode tentar marcar os 50 pontos, se quiser.
					{% else %}
						Você marcou <strong>{{itens.4.score}}</strong> pontos, a pontuação máxima! Parabéns!
					{% endif %}
				</h5>
			</nav><p></p>
			<em>Recompensa obtida:</em>
			<nav class="flex">
				<div class="item base">Pontos:&ensp;<strong class="blue">{{ itens.4.score }}</strong></div>&emsp;
				<div class="item base">Créditos:&ensp;<strong class="blue">{{ itens.4.credits }}</strong></div>&emsp;
				<div class="item base">Troféu:&ensp;<strong class="blue">1</strong></div>&emsp;
			</nav>
			{% if itens.4.score < 50 %}
				{% if request.user.profile.credits > itens.4.credits %}
					<a href="{% url 'livro1:questUndo' '3-1' itens.4.score 'familia' 2 %}" class="large">
						<button class="button previous next"><span>Tentar novamente</span></button>	
					</a>
				{% else %}
					<button onclick="alert('Ops... Você não tem {{itens.4.credits}} créditos disponíveis para tentar novamente')" 
						class="button previous next"><span>Tentar novamente</span></button>
				{% endif %}
				<nav class="item alert">
					<h5>Ao clicar em <strong>Tentar novamente</strong>, você perderá a recompensa atual para conquistar outra. 
						Você irá gastar {{ itens.4.credits }} créditos e poderá receber até <strong>50,00</strong> créditos de volta.</h5>
				</nav>
			{% endif %}
			<nav class="item happy">
				<div class="form"><table>
					<tr>
						<th class="base"><em>Nome</em></th>
						<th class="base">Prato</th>
						<th class="base">Cor</th>
						<th class="base">Esporte</th>
						<th class="base">TV</th>
						<th class="base">Lazer</th>
					</tr>
					<tr><td class="base">
						{% for word in itens.5 %}
							{% if word == '|' %}
								</td><td class="base">
							{% elif word == '#' %}
								</td></tr><tr><td class="base">
							{% else %}
								{{word}}
							{% endif %}
						{% endfor %}
					</td></tr>
				</table></div>
			</nav>
			<p></p>
		{% else %}
			<div class="form"><table>
				<tr>
					<th class="base"><em>Nome</em></th>
					<th class="base"><input type="text" id="nome1" placeholder="Nome 1"></th>
					<th class="base"><input type="text" id="nome2" placeholder="Nome 2"></th>
					<th class="base"><input type="text" id="nome3" placeholder="Nome 3"></th>
				</tr><tr>
					<td class="base"><em>Prato predileto</em></td>
					<td><input type="text" id="prato1" placeholder="Prato 1"></td>
					<td><input type="text" id="prato2" placeholder="Prato 2"></td>
					<td><input type="text" id="prato3" placeholder="Prato 3"></td>
				</tr><tr>
					<td class="base"><em>Cor</em></td>
					<td><input type="text" id="cor1" placeholder="Cor 1"></td>
					<td><input type="text" id="cor2" placeholder="Cor 2"></td>
					<td><input type="text" id="cor3" placeholder="Cor 3"></td>
				</tr><tr>
					<td class="base"><em>Esporte</em></td>
					<td><input type="text" id="esporte1" placeholder="Esporte 1"></td>
					<td><input type="text" id="esporte2" placeholder="Esporte 2"></td>
					<td><input type="text" id="esporte3" placeholder="Esporte 3"></td>
				</tr><tr>
					<td class="base"><em>Programa de TV</em></td>
					<td><input type="text" id="programa1" placeholder="Programa 1"></td>
					<td><input type="text" id="programa2" placeholder="Programa 2"></td>
					<td><input type="text" id="programa3" placeholder="Programa 3"></td>
				</tr><tr>
					<td class="base"><em>Lazer</em></td>
					<td><input type="text" id="lazer1" placeholder="Lazer 1"></td>
					<td><input type="text" id="lazer2" placeholder="Lazer 2"></td>
					<td><input type="text" id="lazer3" placeholder="Lazer 3"></td>
				</tr>
			</table></div>
			<a class="button" onclick="answareText('questModal','3-1');">Terminar</a><p></p>
		{% endif %}
		<img src={% static '/img/3/turma1.png' %} alt="lar" width="50%">
		<strong class="purple">As boas maneiras não tiram férias!</strong>
		<p>Em casa, a família precisa procurar manter alguns programas em conjunto: 
		    jogos, leitura, palavras cruzadas e até a organização da casa.
			Reúna-se e escreva quais são os principais hábitos da sua família. <br><br>
			Uma das regras mais importantes na convivência familiar é saber o
			valor do dinheiro. A família precisa conhecer os custos de uma casa: alimentos,
			telefone, material escolar, uniforme, brinquedos, doces, carro e
			lazer. Vamos pensar sobre o assunto.</p>
		{% if itens.1 %}
			<section class="box happy">
				<div class="box"> <h3 class="blue">{{ itens.0.name }}</h3>
					<p>{{ itens.0.text }}</p>
				</div>
				<img src={% static '/img/1/lembrese.gif' %} alt="Glossario" height="150px" width="150px">
			</section><br>
		{% else %}
			<section class="box">
				<a class="button" onclick="showModal('discoveryModal');"><img src={% static '/img/1/lembrese.gif' %} alt="Glossario" width="150px"></a>
			</section><p></p>
		{% endif %}
	    {% if itens.4 != False %}
			<a href="{% url 'livro1:lesson' 'familia' 3 %}" class="large">
				<button class="button next"><span>VAMOS LÁ!</span></button>
			</a>
		{% endif %}
    </article>
  </section>

{% endblock %}
