{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- Modal -->
<div id="questModal" class="modal">
  <div class="modal-container">
  	<nav class="box clean modal-container">
	  	<nav class="element box base"><button class="button previous" onclick="location.reload(true);"><span>Tentar novamente</span></button></nav>
	  	<div class="modal-animation gradiant-loop">
		  	<img src={% static '/img/congratulations.gif' %} alt="Parabéns" width="100%">
		  	<img src={% static '/img/stickers/1.png' %} alt="sticker" width="120px" class="sticker">
		  	<div class="caption">
			  	<strong class="orange item" style="background-color:rgba(0, 0, 0, 0.5);">Missão cumprida!</strong>
			  	<p id="questCaption">Meus parabéns</p>
		  	</div>
	  	</div>
	  	<nav class="element box base">
	  		<div class="modal-backgif"><p></p>
	  			<em class="green" id="reward"> Você ganhou: X pontos, X créditos e um troféu joinha</em><br>
	  			<a class="orange"> Clique no troféu para pegar o que você ganhou!</a>
	  		</div>
	  		<a href="{% url 'livro1:questConclude' '3-5' 0 'familia' 6 %}" id="conclud"><img src={% static '/img/joia.gif' %} alt="Troféu Joinha" height="120px"></a>
	  	</nav>
	</nav>
  </div>
</div>
<!-- /Modal -->

  <aside class="side clean-detail" id="leftSide">
    <a href="{% url 'livro1:home' %}" class="btn completed">
        Home &ensp;<i class="fas fa-home"></i></a>
    <h5>Nessa atividade você deverá selecionar as opções boas que podem representar você! :D</h5>
	<img class="sticker-right" src={% static '/img/3/rodape.png' %} alt="Rodape" width="100%">
	<h4 class="green">Se você colocar duas vezes a mesma resposta, será considerado como errado.</h4>
  </aside>
  
  <section class="page box clean">
    <article class="page" style="height:100%">
    	<a href="{% url 'livro1:lesson' 'familia' 5 %}" class="large">
	    	<button class="button previous"><span>Voltar</span></button>
	    </a>
		<nav class="box sunny">
			<img class="sticker-right" src={% static '/img/1/maosAObra.gif' %} alt="Mãos à obra" width="230px">
			<div class="box"> <h3 class="box base">Atividade</h3>
				<p>Agora que você aprendeu algumas das atitudes que demonstram boas
					maneiras, vamos fazer uma reflexão e pensar como estão nossas atitudes. Todos
					nós temos uma série de qualidades e valores que, às vezes, temos dificuldade em identificar, tanto nos outros como em nós mesmos. 
					Junte-se a um familiar e vamos pensar sobre o assunto.</p>
				<h5>No desenho da árvore a seguir escreva:<br></h5>
				<h4>1. Nas raízes da árvore, escreva as suas qualidades. Exemplos: cuidadoso, gentil,
					estudioso, bondoso, etc.<br><br>
					2. Nos galhos da árvore, escreva seus êxitos, suas vitórias, o que você pratica de
					bom. Exemplos: tenho bons amigos e boas notas, ajudo em casa, etc.</h4>
			</div>
		</nav>
		{% if itens.9 != False %}
			<nav class="box base">
				<img class="sticker-right" src={% static '/img/1/maosAObra.gif' %} alt="Mãos à obra" width="150px">
				<h5>
					Você já completou esse desafio e conquistou a sua recompensa <br>
					{% if itens.9.score < 60 %} 
						Você marcou <strong>{{itens.9.score}}</strong> pontos e a pontuação máxima é 60. Você pode tentar marcar os 60 pontos se quiser
					{% else %}
						Você marcou <strong>{{itens.9.score}}</strong> pontos, a pontuação máxima! Meus parabéns
					{% endif %}
				</h5>
			</nav><p></p>
			<em>Recompensa obtida:</em>
			<nav class="flex">
				<div class="item base">Pontos:&ensp;<strong class="blue">{{ itens.9.score }}</strong></div>&emsp;
				<div class="item base">Créditos:&ensp;<strong class="blue">{{ itens.9.credits }}</strong></div>&emsp;
				<div class="item base">Troféu:&ensp;<strong class="blue">1</strong></div>&emsp;
			</nav>
			{% if itens.9.score < 60 %}
				{% if request.user.profile.credits > itens.9.credits %}
					<a href="{% url 'livro1:questUndo' '3-5' itens.9.score 'familia' 6 %}" class="large">
						<button class="button previous next"><span>Tentar novamente</span></button>	
					</a>
				{% else %}
					<button onclick="alert('Ops... Você não tem {{itens.9.credits}} créditos disponíveis para tentar novamente')" 
						class="button previous next"><span>Tentar novamente</span></button>
				{% endif %}
				<nav class="item alert">
					<h5>Ao clicar em tentar novamente, você perderá a recompensa atual para conquistar outra. 
						Você irá gastar {{ itens.9.credits }} créditos e poderá receber até <strong>60,00</strong> créditos de volta.</h5>
				</nav>
			{% endif %}
			<p></p>
    		<a href="{% url 'livro1:chapter' 2 request.user.profile.id %}" class="btn completed">
				Meu livro &ensp;<i class="fas fa-book-reader"></i></a>
		{% else %}
			<nav class="flex">
				<div class="item sunny">Acertos:&ensp;<strong id="hits" class="red">0</strong>
				</div>&emsp;<div class="item sunny"> Pontuação:&ensp;<strong id="totalScore" class="red">0</strong></div>
			</nav>
			<div class="frame">
				<div class="leaves large">
					<div class="page large">
						<div class="thought">
							<i id="f1Smile" class="fas fa-laugh-beam" style="color: #d3f8d3;"></i>
							<input type="hidden" id="f1Score" value="10">
							<select name="f1" id="f1" onchange="selectAnswerAlter('f1Smile','f1Score','f1',['f2','f3']);">
								<option value="" >- - Meus êxitos - -</option>
								<option value="aTrue" >Tenho boas notas</option>
								<option value="bTrue" >Tenho bons amigos</option>
								<option value="cFalse" >Falto na escola</option>
								<option value="dFalse" >Não ajudo em casa</option>
								<option value="eTrue" >Ajudo em casa</option>
								<option value="fFalse" >Tenho notas ruins</option>
								<option value="gFalse" >Não me exercito</option>
								<option value="hTrue" >Pratico exercícios</option>
							</select>
						</div>
					</div>
					<div class="large" style="display: flex; justify-content: space-between;">
						<div class="thought">
							<i id="f2Smile" class="fas fa-laugh-beam" style="color: #d3f8d3;"></i>
							<input type="hidden" id="f2Score" value="10">
							<select name="f2" id="f2" onchange="selectAnswerAlter('f2Smile','f2Score','f2',['f1','f3']);">
								<option value="" >- - Meus êxitos - -</option>
								<option value="aTrue" >Tenho boas notas</option>
								<option value="bTrue" >Tenho bons amigos</option>
								<option value="cFalse" >Falto na escola</option>
								<option value="dFalse" >Não ajudo em casa</option>
								<option value="eTrue" >Ajudo em casa</option>
								<option value="fFalse" >Tenho notas ruins</option>
								<option value="gFalse" >Não me exercito</option>
								<option value="hTrue" >Pratico exercícios</option>
							</select>
						</div>
						<div class="thought">
							<i id="f3Smile" class="fas fa-laugh-beam" style="color: #d3f8d3;"></i>
							<input type="hidden" id="f3Score" value="10">
							<select name="f3" id="f3" onchange="selectAnswerAlter('f3Smile','f3Score','f3',['f1','f2']);">
								<option value="" >- - Meus êxitos - -</option>
								<option value="aTrue" >Tenho boas notas</option>
								<option value="bTrue" >Tenho bons amigos</option>
								<option value="cFalse" >Falto na escola</option>
								<option value="dFalse" >Não ajudo em casa</option>
								<option value="eTrue" >Ajudo em casa</option>
								<option value="fFalse" >Tenho notas ruins</option>
								<option value="gFalse" >Não me exercito</option>
								<option value="hTrue" >Pratico exercícios</option>
							</select>
						</div>
					</div>
				</div>
				<img src={% static '/img/3/tree.png' %} alt="arvore" width="100%">
				<div class="root flex" style="display: flex; justify-content: space-between;">
					<div class="thought">
						<i id="f4Smile" class="fas fa-laugh-beam" style="color: #FFE4B5;"></i>
						<input type="hidden" id="f4Score" value="10">
						<select name="f4" id="f4" onchange="selectAnswerAlter('f4Smile','f4Score','f4',['f5','f6']);">
							<option value="" >- - qualidades - -</option>
							<option value="gFalse" >Imprudente</option>
							<option value="aTrue" >Inteligente</option>
							<option value="bTrue" >Gentil</option>
							<option value="cFalse" >Grosseiro(a)</option>
							<option value="dFalse" >Desobediente</option>
							<option value="eTrue" >Criativo(a)</option>
							<option value="fFalse" >Fingido(a)</option>
							<option value="hTrue" >Estudioso(a)</option>
						</select>
					</div>
					<div class="thought">
						<i id="f5Smile" class="fas fa-laugh-beam" style="color: #FFE4B5;"></i>
						<input type="hidden" id="f5Score" value="10">
						<select name="f5" id="f5" onchange="selectAnswerAlter('f5Smile','f5Score','f5',['f4','f6']);">
							<option value="" >- - qualidades - -</option>
							<option value="gFalse" >Imprudente</option>
							<option value="aTrue" >Inteligente</option>
							<option value="bTrue" >Gentil</option>
							<option value="cFalse" >Grosseiro(a)</option>
							<option value="dFalse" >Desobediente</option>
							<option value="eTrue" >Criativo(a)</option>
							<option value="fFalse" >Fingido(a)</option>
							<option value="hTrue" >Estudioso(a)</option>
						</select>
					</div>
					<div class="thought">
						<i id="f6Smile" class="fas fa-laugh-beam" style="color: #FFE4B5;"></i>
						<input type="hidden" id="f6Score" value="10">
						<select name="f6" id="f6" onchange="selectAnswerAlter('f6Smile','f6Score','f6',['f4','f5']);">
							<option value="" >- - qualidades - -</option>
							<option value="gFalse" >Imprudente</option>
							<option value="aTrue" >Inteligente</option>
							<option value="bTrue" >Gentil</option>
							<option value="cFalse" >Grosseiro(a)</option>
							<option value="dFalse" >Desobediente</option>
							<option value="eTrue" >Criativo(a)</option>
							<option value="fFalse" >Fingido(a)</option>
							<option value="hTrue" >Estudioso(a)</option>
						</select>
					</div>
				</div>
			</div>
			<a class="button" onclick="questFinish('questModal','3-5','familia',6,60);">Terminar</a><p></p>
		{% endif %}
    </article>
  </section>

{% endblock %}
