{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- Modal -->
<div id="discoveryModal" class="modal">
  <div class="modal-container">
  	<nav class="box clean modal-container">
	  	<nav class="element box base"><h1 class="green">Você fez uma descoberta!</h1></nav>
	  	<div class="modal-animation gradiant-loop">
		  	<img src={% static '/img/discovery.gif' %} alt="Parabéns" width="100%">
		  	<div class="caption">
			  	<strong class="orange item" style="background-color:rgba(0, 0, 0, 0.5);">{{ itens.4.sort }}</strong>
			  	<p><i>{{ itens.4.name }}:</i> {{ itens.4.text|linebreaks }}</p>
		  	</div>
	  	</div>
	  	<nav class="element box base">
	  		<div class="modal-backgif"><p></p>
	  			<em class="green"> Você ganhou: 30 pontos, 30 créditos e uma medalha</em><br>
	  			<a class="orange"> Clique na medalha para pegar o que você ganhou</a>
	  		</div>
	  		<a href="{% url 'livro1:discoveryFound' itens.4.id 'sala' 4 %}" ><img src={% static '/img/star.gif' %} alt="Star medal" height="120px"></a>
	  	</nav>
	</nav>
  </div>
</div>

<div id="questModal" class="modal">
  <div class="modal-container">
  	<nav class="box clean modal-container">
	  	<nav class="element box base"><button class="button previous" onclick="location.reload(true);"><span>Tentar novamente</span></button></nav>
	  	<div class="modal-animation gradiant-loop">
		  	<img src={% static '/img/congratulations.gif' %} alt="Parabéns" width="100%">
		  	<div class="caption">
			  	<strong class="orange item" style="background-color:rgba(0, 0, 0, 0.5);">Missão cumprida!</strong>
			  	<p id="questCaption">Meus parabéns</p>
		  	</div>
	  	</div>
	  	<nav class="element box base">
	  		<div class="modal-backgif"><p></p>
	  			<em class="green" id="reward"> Você ganhou: X pontos, X créditos e um troféu joinha</em><br>
	  			<a class="orange"> Clique no troféu para pegar o que você ganhou!</a>
	  		</div>
	  		<a href="{% url 'livro1:questConclude' '10-3' 0 'sala' 4 %}" id="conclud"><img src={% static '/img/joia.gif' %} alt="Troféu Joinha" height="120px"></a>
	  	</nav>
	</nav>
  </div>
</div>
<!-- /Modal -->

  <aside class="side clean-detail" id="leftSide">
    <a href="{% url 'livro1:home' %}" class="btn completed">
        Home &ensp;<i class="fas fa-home"></i></a>
    <p></p>
    <img src={% static '/img/10/eu2.png' %} alt="Estrelas" width="100%">
  </aside>
  
  <section class="page box clean">
    <article class="page" style="height:100%">
    	<a href="{% url 'livro1:lesson' 'sala' 3 %}" class="large">
	    	<button class="button previous"><span>Voltar</span></button>
	    </a>
		<nav class="box base-detail large">
			<img class="sticker-left" src={% static '/img/1/atividades.gif' %} alt="Atividade" width="150px">
			<div class="box"> <h3 class="base">Atividade</h3>
				<h4>Que tal fazer uma reflexão sobre as suas atitudes? Reflita sobre elas em sala de aula e marque sim ou não para as atitudes que você tem:</h4>
			</div>
		</nav>
		{% if itens.8 != False %}
			<nav class="box base">
				<h5>
					Você já completou esse desafio e conquistou a sua recompensa <br>
					{% if itens.8.score < 100 %} 
						Você marcou <strong>{{itens.8.score}}</strong> pontos e a pontuação máxima é 100. Você pode tentar marcar os 100 pontos se quiser
					{% else %}
						Você marcou <strong>{{itens.8.score}}</strong> pontos, a pontuação máxima! Meus parabéns
					{% endif %}
				</h5>
			</nav><p></p>
			<em>Recompensa obtida:</em>
			<nav class="flex">
				<div class="item base">Pontos:&ensp;<strong class="blue">{{ itens.8.score }}</strong></div>&emsp;
				<div class="item base">Créditos:&ensp;<strong class="blue">{{ itens.8.credits }}</strong></div>&emsp;
				<div class="item base">Troféu:&ensp;<strong class="blue">1</strong></div>&emsp;
			</nav>
			{% if itens.8.score < 100 %}
				{% if request.user.profile.credits > itens.8.credits %}
					<a href="{% url 'livro1:questUndo' '10-3' itens.8.score 'sala' 4 %}" class="large">
						<button class="button previous next"><span>Tentar novamente</span></button>	
					</a>
				{% else %}
					<button onclick="alert('Ops... Você não tem {{itens.8.credits}} créditos disponíveis para tentar novamente')" 
						class="button previous next"><span>Tentar novamente</span></button>
				{% endif %}
				<nav class="item alert">
					<h5>Ao clicar em tentar novamente, você perderá a recompensa atual para conquistar outra. 
						Você irá gastar {{ itens.8.credits }} créditos e poderá receber até <strong>100,00</strong> créditos de volta.</h5>
				</nav>
			{% endif %}
			<p></p>
			{% if itens.5 %}
				<section class="box sunny">
					<div class="box"> <h3 class="blue">{{ itens.4.name }}</h3>
						<p>{{ itens.4.text|linebreaks }}</p>
					</div>
					<img src={% static '/img/1/lembrese.gif' %} alt="Lembre-se" height="150px" width="150px">
				</section><div class="line"></div>
			{% else %}
				<section class="box">
					<a class="button" onclick="showModal('discoveryModal');"><img src={% static '/img/1/lembrese.gif' %} alt="Lembre-se" width="150px"></a>
				</section><p></p>
			{% endif %}
			<a href="{% url 'livro1:chapter' 10 request.user.profile.id %}" class="btn completed">
				Meu livro &ensp;<i class="fas fa-book-reader"></i></a>
		{% else %}
			<nav class="flex">
				<div class="item base">Respostas:&ensp;<strong id="hits" class="green">0</strong>
				</div>&emsp;<div class="item base"> Pontuação:&ensp;<strong id="totalScore" class="green">0</strong></div>
			</nav>
			<div>
				<i id="f1Smile" class="fas fa-laugh-beam" style="color: #0284cf;"></i>
				<input type="hidden" id="f1Score" value="10">
			</div>
			<nav class="item large sunny">
				<div style="width:65%"><p>Você pede licença antes de entrar na sala de aula?</p></div>
				<select id="f1" onchange="selectAnswer('f1Smile','f1Score','f1')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="F" >Não</option>
				</select>
			</nav>
			<nav class="item large happy">
				<div style="width:65%"><p>Você é pontual?</p></div>
				<select id="f2" onchange="selectAnswer('f1Smile','f1Score','f2')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="F" >Não</option>
				</select>
			</nav>
			<nav class="item large shine">
				<div style="width:65%"><p>Você usa o uniforme?</p></div>
				<select id="f3" onchange="selectAnswer('f1Smile','f1Score','f3')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="True" >Não</option>
				</select>
			</nav>
			<nav class="item large base">
				<div style="width:65%"><p>Você agradece ao devolver algum material emprestado?</p></div>
				<select id="f4" onchange="selectAnswer('f1Smile','f1Score','f4')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="F" >Não</option>
				</select>
			</nav>
			<nav class="item large alert">
				<div style="width:65%"><p>Você é cuidadoso com os equipamentos de sua sala de aula?</p></div>
				<select id="f5" onchange="selectAnswer('f1Smile','f1Score','f5')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="F" >Não</option>
				</select>
			</nav>
			<nav class="item large sunny">
				<div style="width:65%"><p>Você junta seus lixinhos e o papel que deixa cair sem querer?</p></div>
				<select id="f6" onchange="selectAnswer('f1Smile','f1Score','f6')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="F" >Não</option>
				</select>
			</nav>
			<nav class="item large contrast">
				<div style="width:65%"><p>Você conta mentiras?</p></div>
				<select id="f7" onchange="selectAnswer('f1Smile','f1Score','f7')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="F" >Sim</option>
					<option value="True" >Não</option>
				</select>
			</nav>
			<nav class="item large base-detail">
				<div style="width:65%"><p>Você costuma colar nas provas?</p></div>
				<select id="f8" onchange="selectAnswer('f1Smile','f1Score','f8')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="F" >Sim</option>
					<option value="True" >Não</option>
				</select>
			</nav>
			<nav class="item large happy">
				<div style="width:65%"><p>Você aguarda sua vez para perguntar?</p></div>
				<select id="f9" onchange="selectAnswer('f1Smile','f1Score','f9')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="True" >Sim</option>
					<option value="F" >Não</option>
				</select>
			</nav>
			<nav class="item large base">
				<div style="width:65%"><p>Você empurra ou participa de grupos que queiram brigar no final da aula?</p></div>
				<select id="f10" onchange="selectAnswer('f1Smile','f1Score','f10')" style="width:30%">
					<option value="" >-- resposta --</option>
					<option value="F" >Sim</option>
					<option value="True" >Não</option>
				</select>
			</nav>
			<a class="button" onclick="questFinish('questModal','10-3','sala',4,100);">Terminar</a>
		{% endif %}
    </article>
  </section>

{% endblock %}
